*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
}

/* PAGE 1 */

#page1, #page3{
    height: 100vh;
    margin-bottom: 100px;
}


.Container{
    width: 80%;
    margin: 0 auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section{
    display: flex;
    align-items: center;
}

.right-section ul li{
    margin-right: 20px;
}

.right-section ul li a{
    text-decoration: none;
    color: black;
}

.right-section ul{
    list-style: none;
    display: flex;
}

.navigation a:hover{
    color: blue;
    text-decoration: underline;
}

.road-assistance{
    display: flex;
    padding-left: 20px;
}

.right-section .navigation{
    border-right: 1px solid #ccc;

}

h6{
    margin-top: 10px;
}

.icon{
    padding-right: 15px;
}

.flex{
        display: flex;
}



/* HERO SECTION */

#hero-section .image-section{
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

#hero-section .text-section, #hero-section .image-section{
    width: 50%;
}

#hero-section{
    display: flex;
    padding: 60px 0;
}

.text-section{
    padding-top: 80px;  
}

.text-section h1{
    font-size: 55px;
    margin-bottom: 35px;
}

.btn{
    background: #ff6433;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 16px 40px;
}

.text-down p{
    opacity: 0.8;
    margin-bottom: 12px;
}

.text-down{
    margin-left: 10px;
}

#time{
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
}

.clock{
    margin-top: 10px;
}

/* PAGE 2 */

#page2{
    background-color: #E2E6E9;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    margin: 0 auto;
}

.left-down{
    display: flex;
} 

.left-down .textt{
    padding-left: 15px;
    padding-bottom: 20px;
}

.left-down .textt h5{
    padding-top: 10px;
    opacity: 0.6;
}

.left-up h1{
    font-size: 60px;
    padding-bottom: 40px;
}

.leftie{
    width: 50%;
}

.leftie a{
    color: black;
}

.rightie{
    padding-left: 40px;
}

.rightie .btn{
    margin-top: 200px;
}

.down-btn{
    margin-top: 40px;
}

.right-up h3{
    font-size: 40px;
    padding-bottom: 40px;
} 

.right-down input[type="text"], input[type="number"]{
    width: 100%;
    height: 40px;
    margin-bottom: 2px;
    padding-left: 30px;
    border: none;
}

    /* Page 3 */

#page3{
    display: flex;
    width: 85%;
}

.line{
    width: 0;
    height: 60px;
    border-left: 2px dashed red;
}

.total .first-line, .second-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total {
    display: flex;
}

 .orange-btn{
    background: #ff6433;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding:  16px 40px;
} 

.left-side{
    padding-top: 180px;
    padding-left: 150px;
}

.left-side h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.left-side p{
    color: #1E1B1B;
    opacity: 0.6;
    padding-bottom: 50px;
}

.right-side{
    padding-left: 200px;
    padding-top: 70px;
}

.text-section{
    padding-top: 40px;
    padding-left: 18px;
}

.text-section h2{
    font-size: 30px;
}

 .text-section h5{
    font-size: 20px;
    color: black;
    opacity: 0.6;
    padding-top: 20px;
}  

.circle2, .circle, .circle3{
    padding-top: 20px;
    padding-bottom: 15px;
}

/* Page 4 */

#page4{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    margin-top: 80px;
}

.header{
    text-align: center;
    padding: 80px;
    width: 60% auto;
}

.header h1{
    font-size: 70px;
}

.header{
    font-size: 30px;
}

.square{
    width: 250px;
    background-color: white;
    border: 1px solid  #F2F2F2;
    height: 200px;
    margin: 2px;
}

.square3{
    width: 250px;
    background-color: #ff6433;
    border: 1px solid  #F2F2F2;
    height: 200px;
    margin: 2px;
}

.image-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding-top: 70px;
}

h6{
    text-align: center;
    font-size: 18px;
}

.icons, .icons2{
    display: flex;
}

.container{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.footerr a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    width: 94%;
    font-size: 20px;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

.icons2 :hover, .icons :hover{
     background-color: #ff6433;
}

/* PAGE 5 */

.page5{
    background-image: url('../img/car.png'),  url('../img/tools.png');
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.outer-box{
    width: 500px;
    height: 300px;
    background: #FF6433;
    margin-left: 450px;
}

.outer-box p{
    padding: 40px 0 70px 40px;
    color: white;
    font-size: 30px;
}

.black-btn{
    background: black;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 30px;
    padding:  16px 40px;
} 

.down-side{
    display: flex;
    padding: 30px;
    justify-content: space-around;
}

.down-side p{
     color: blueviolet;
     font-size: 30px;
}

/* PAGE 6 */

.logos, .logos2{
    display: flex;
}

.last-page{
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.logo{
    padding-left: 100px;
}

/* PAGE 7 */

#page7{
    background-color: #F2F2F2;
}

.headline{
    width: 50%;
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.8px;
    /* margin: 50px 300px; */
    padding: 100px 0 50px;
    margin: 0 auto;
}

.testi1{
   width: 32%;
   height: 250px;
   border: 1px solid white;
   padding: 50px;
   background-color: white;
   margin-right: 40px;
}

.up{
    display: flex;
}

.text1{
    padding-left: 15px;
}

.text2{
    text-align: justify;
    font-weight: 700;
    padding-top: 10px;
}

.testimonials{
    display: flex;
    justify-content: center;
}

.flex-images{
    padding-top: 30px;
} 
 
.dashes{
    display: flex;
    justify-content: center; 
}
.dash1, .dash2, .dash3, .dash4{
    padding-right: 10px;
}

.arrows{
    display: flex;
   padding-left: 1000px;
}

.left{
    padding-right: 5px;
}

/* PAGE 8 */

#page8{
    background-color: #E2E6E9;
    padding-bottom: 70px;
}

.top{
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 70px 0;
}

.slides .slide1, .slides .slide2, .slides .slide3, .slides .slide4, .slides .slide5{
    margin-bottom: 8px;
    padding-right: 30px;
}

.qna:after{
    content: ' \002D' ;
    background-color: orangered;
    color: white;
    width: 25px;
    align-items: center;
    height: 20px;
    text-align: center;
}

.slide1{
    width: 50%;
    margin: 0 auto;
    height: 160px;
    background-color: white;
    padding-left: 20px;
}

.qna{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.answer{
    width: 87%;
    font-size: 15px;
    padding-top: 15px;
    opacity: 30%;
}

.slide2::after, .slide3::after, .slide4::after, .slide5::after{
    content: '\002B';
    background-color: orangered;
    color: white;
    width: 25px;
    height: 20px;
    text-align: center;
}

.slide2, .slide3, .slide4, .slide5{
    width: 50%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: white;
}

/* PAGE 9 */

#page9{
    background-color: #1E1B1B;
    color: white;
    min-height: 50vh;
}

.end{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.right-end{
    padding: 60px 0 20px 150px;
    
}

.left-end{
    font-size: 28px;
    width: 40%;
    padding: 80px 0 40px 120px;
}

.left-end h3{
    padding-bottom: 40px;
}

.right-end p{
    padding: 12px 0 30px;
}

.right-end h5{
    opacity: 0.4;
}

/* FOOTER */

.footer{
    background-color: black;
}

.main-footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
} 

.end-section{
    display: flex;
    align-items: center; 
}

.end-section .navigate{
    display: flex;
}

.finsweet{
    padding-left: 40px;
}

.navigate p a{
    padding-right: 50px;
    padding-bottom: 20px;
    color: white;
    text-decoration: none;
}

.navigate p a:hover{
    color: blue;
    text-decoration: underline;
}

.copyright h6{
    padding-right: 20px;
    color: #ccc;
}

/* MOBILE VIEW */

@media (max-width:426px){

/* PAGE 1 */

    #page1{
        min-height: 190vh;
    }

    #hero-section{
        padding-top: 0;
    }

    .text-section{
        padding-top: 0;
    }

    .text-section h2{
        font-size: 18px;
    }

    .text-section h1{
        font-size: 20px;
    }

    .clock{
        display: none;
    }

    #time{
        margin-top: 30px;
    }

    .text-down p{
        margin-bottom: 5px;
    }

    #hero-section .image-section{
        width: 100%;
        height: 120vh;
        background-repeat: no-repeat;
        order: 1;
    }

    #hero-section .flex-mobile .text-section{
        width: 100%;
        order: 2;
        text-align: center;
    }

    .logo{
        padding: 0;
    }
    
    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation{
        border: none;
        width: 100%;
    }

    .navigation ul{
        flex-direction: column;
    }

    .right-section ul li{
        padding: 10px 0;
        margin-right: 0;
        display: block;
    }

    .right-section ul li a{
        display: block;
    }

    .road-assistance{
        padding: 10px 0;
    }

    .flex-mobile{
        flex-direction: column;
    }

    .text-section h1{
        font-size: 20px;
    }
    .btn{
        padding: 16px 20px;
    }

    /* PAGE 2 */

    #page2{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .leftie{
        width: 80%;
        margin: 0 auto;
    }

    .left-up h1{
        font-size: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    .rightie{
        padding:0 0 20px;
    }

    .right-up h3{
        font-size: 30px;
        padding-top: 30px;
        text-align: center;
    }

    .right-down{
        width: 80%;
        margin: 0 auto;
    }

    .rightie .btn{
        padding: 10px 20px;
        margin-left: 48px;
    }

    /* PAGE 3 */

    #page3{
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
        min-height: 200vh;
    }

    .left-side{
        padding: 0;
        text-align: center;
    }

    .left-side h1{
        font-size: 25px;
        padding: 0 30px 30px;
    }

    .left-side p{
        padding: 0 20px 50px;
    }

    .orange-btn{
        padding: 12px 20px;
    }

    .right-side{
        padding: 50px 0 0;
    }

    .circle{
        padding: 0 0 10px;
    }

    .circle2, .circle3{
        padding: 10px 0 15px;
    }

    .total .text-section{
        width: 70%;
        padding-left: 30px;
    }

    .text-section h5{
        padding: 0;
        font-size: 15px;
    }

    .total .first-line, .total .second-line, .total .third-line{
        padding-left: 50px;
    }

    .line{
        height: 30px;
    }

    /* PAGE 4 */

    #page4{
        flex-direction: column;
    }

    .header{
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .header h3{
        font-size: 20px;
        padding-bottom: 20px;
    }

    .header h1{
        font-size: 20px;
    }

    .icons, .icons2{
        flex-direction: column;
        align-items: center;
    }

    /* PAGE 5 */

    .page5{
        margin-top: 50px;
        flex-direction: column;
    }

    .outer-box{
        margin: 0 0 0 80px;
        width: 200px;
        height: 100px;
        padding: 0;
    }

    .outer-box p{
        font-size: 10px;
        padding: 20px 20px 10px;
    }

    .black-btn{
        padding: 5px;
        font-size: 10px;
        margin-left: 20px;
    }

    .down-side{
        flex-direction: column;
        align-items: center;
    }

    .first, .second, .third, .fourth{
        padding-bottom: 20px;
    }

    .down-side p{
        text-align: center;
    }

    /* page 6 */

    .headline{
        padding-top: 40px;
    }

    .last-page{
        margin-top: 40px;
    }

    .logos, .logos2{
        flex-direction: column;
        align-items: center;
    }

    /* PAGE 7 */

    .headline h3{
        font-size: 20px;
    }

    .arrows{
        display: none;
    }

    .testimonials{
        flex-direction: column;
        align-items: center;
    }

    .testi1{
        width: 70%;
        height: 300px;
        margin: 0 0 10px;
    }

    .flex-images{
        padding-bottom: 30px;
    }

    /* PAGE 8 */

    .slide1{
        height: 200px;
        width: 70%;
    }

    .slide2, .slide3, .slide4, .slide5{
        width: 70%;
    }

    .slide2::after, .slide3::after, .slide4::after, .slide5::after{
        margin-left: 20px;
    }

    .slide2 p, .slide3 p, .slide4 p, .slide5 p{
        font-size: 12px;
    }

    .answer{
        font-size: 10px;
    }

    /* PAGE 9 */

    .end{
        flex-direction: column;
    }
    .left-end{
        padding: 60px 0 20px;
        width: 60%;
        margin: 0 auto;
    }

    .left-end h3{
        font-size: 20px;
        text-align: center;
    }

    .main-footer, .end-section, .navigate{
        flex-direction: column;
        align-items: center;
    }

    .navigate p{
        margin-bottom: 20px;
    }

    .navigate p a{
        padding: 0;
    }
    
    .right-end{
        padding: 60px 0 20px;
        text-align: center;
    }

    .finsweet{
        align-items: center;
        padding: 0 0 20px;
    }
}

@media (min-width:481px) and (max-width:769px){

/* PAGE 1 */
    
    #page1{
        margin-bottom: 280px;
    }

    .logo{
        padding: 0;
    }

    #hero-section .text-section h1{
        font-size: 25px;
        padding-bottom: 25px;
        margin-right: 30px;
    }

    .text-section h2{
        font-size: 20px;
    }

    #hero-section .image-section{
        height: 120vh;
        margin: 0;
    }
    
    #time{
        margin-top: 50px;
    }

    #hero-section .text-section{
        padding-top: 0;
    }

    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }

    /* PAGE 2 */

    #page2{
        min-height: 180vh;
        padding-top: 50px;
    }

    .leftie p{
        padding-left: 50px;
    }

    .left-up h1{
        font-size: 25px;
        text-align: center;
    }

    .left-down{
        padding-left: 20px;
    }

    .rightie{
        width: 50%;
        margin-right: 20px;
    }

    .rightie .btn{
        padding: 12px;
    }

    .right-up h3{
        font-size: 30px;
        text-align: center;
    }

    /* PAGE 3 */

    #page3{
        width: 100%;
        padding: 50px 0;
        min-height: 220vh;
    }

    .left-side{
        padding: 80px 0 0 80px;
        width: 100%;
    }

    .left-side p{
        padding: 50px 0 100px;
    }

    .left-side h1{
        font-size: 30px;
        width: 100%;
    }

    .right-side{
        padding: 0 0 0 30px;
    }

    .text-section h5{
        width: 90%;
    }

    /* PAGE 4 */

    .header h1{
        font-size: 50px;
        padding-top: 50px;
    }

    /* PAGE 5 */

    .page5{
        margin-top: 50px;
    }
    
    .outer-box{
        margin: 0 0 0 150px;
        height: 200px;
        width: 400px;
    }

    .outer-box p{
        font-size: 25px;
        padding: 40px 0 40px 40px;
    }

    .black-btn{
        padding: 12px 30px;
    }

    /* PAGE 6 */

    .logo .logos img, .logo .logos2 img{
        width: 150px;
        height: auto;
    }

    #page6{
        width: 100%;
    }

    /* PAGE 7 */

    .headline{
        padding: 70px 0 50px;
    }

    .testi1{
        padding: 30px 50px 50px;
    }

    .text2 p{
        font-size: 11px;
    }

    .dashes{
        padding-bottom: 30px;
    }

    .arrows{
        display: none;
    }

    /* PAGE 8 */

    .answer p{
        font-size: 12px;
    }

    #page8{
        padding-bottom: 40px;
    }

    .top{
        padding: 50px 0;
    }

    /* PAGE 9 */

    .left-end{
        padding: 100px 0 40px 80px;
        width: 50%;
    }

    .left-end h3{
        font-size: 20px;
    }

    .main-footer{
        padding: 20px 30px;
    }

    .finsweet{
        display: none;
    }
}